body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E3EAEF;
}
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}
.login-container h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: #03335b;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: inline-flex;
    border-radius: 10px;
    padding: 7px;
    margin-left: 100px;
}

.login-container h1 i {
    margin-right: 10px;
    font-size: 24px; 
}


.btn-primary {
    color: #fff;
    background-color: #03335b;
    border-color: #03335b;
}

#logo {
    display: block;
    margin: 0 auto 20px; 
    width: 150px;
    height: auto;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 70%;
    transform: translateY(-40%);
    left: 10px;
    color: #03335b;
}

.form-group input {
    padding-left: 35px; 
}

.form-group label {
    display: flex;
    align-items: center;
}

.text-danger {
    color: #ffffff !important;
    background-color: rgb(255, 0, 0);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
    display: inline-flex;
    padding: 5px;
}
