/* public/styles/forms.css */

.body {
    font-family: 'Arial', sans-serif;
    background-color: #03335b; 
    color: #fff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #E3EAEF; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    margin-top: 40px;
}

form {
    background-color: #fff; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.form-group {
    margin-bottom: 20px; 
}

.form-group label {
    font-weight: bold;
    display: block; 
    text-align: left;
    color: #03335b;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn.btn-primary {
    background-color: #03335b;
    font-weight: bold;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
    width: 100%;
    width: 100%;
  font-size: 16px
}

button.btn.btn-primary:hover {
    background-color: #03335b; 
}


form h1 {
    color: #03335b; 
    margin-bottom: 30px; 
}

h1 img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 5px;
  transition: transform 0.3s ease; 
  animation: moveCloud 5s infinite linear; /* Adiciona uma animação de movimento contínuo */
}

@keyframes moveCloud {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(10px);
  }
  100% {
      transform: translateX(0);
  }
}

h1:hover img {
  transform: scale(1.2); 
  animation: none; 
}

#logo {
    display: block;
    margin: 0 auto 20px; 
    width: 150px;
    height: auto;
  }

  .confirmation-forms {
    background-color: #54ba71;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    border-radius: 8px;
    position: relative;
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  .confirmation-icon {
    max-width: 30px;
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    top: 7px; 
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  .email-group {
    display: flex;
    align-items: center;
    position: relative; 
    margin-bottom: 1em;
}

.email-group input {
    width: 318%;
    padding-left: 40px; 

}

.email-group span {
    margin-left: 10px;
}

.email-warning {
    color: rgb(255, 255, 255);
    background-color: #03335b;
    font-size: 0.9em;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: -325px;
    font-weight: bold;
    display: inline-flex;
    padding: 5px;
}

.email-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-20%);
    pointer-events: none; 
    color: #03335b; 
}

  